body {
  background-color: rgb(248, 248, 248);
}

.container {
    margin-right: 11%;
}

.btn-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}

.btn-container::before {
  content: "";
  position: absolute;
  background-color: #007bff;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 0.3s ease;
}

.btn-container.hovered::before {
  width: 100%;
}

.PhoneInputCountryIcon {
  width: 30%;
  height: 100%;
}
.PhoneInputInput {
  border: none;
  background-color: rgb(248, 248, 248);
}
.PhoneInputCountry {
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    margin-right: var(--PhoneInputCountrySelect-marginRight);
    justify-content: flex-end;
}